@font-face {
    font-family: "Compadre";
    src: url("../assets/fonts/font.otf") format("opentype"),
        url("../assets/fonts/font.ttf"),
        url("../assets/fonts/font.woff"),
        url("../assets/fonts/font.woff2");
}

@font-face {
    font-family: "Compadre";
    src: format("");
}

:root {
    --global-paddings: 2rem
}

html {
    font-size: 10px;
}

body {
    background: white;
    color: var(--text-color);
    font-size: 1rem;
    font-family: "Compadre";
    letter-spacing: -0.3px;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
}

#container {
    max-height: calc(100% - var(--global-paddings)*2);
    height: calc(100% - var(--global-paddings)*2);
    padding: var(--global-paddings);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

*:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

ul {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
        flex: 1;
        margin: 0px 15px 0 0;
        display: inline;

        p {
            margin: 0;
        }
    }
}

#projects {
    height: 100%;

    button {
        padding: 0;
        background: transparent;
        border: 0;
        height: calc(100% - var(--global-paddings)*2);
        width: 50vw;
        position: absolute;
        transform: translate(-0%, -50%);
        top: 50%;
        left: 0;
        cursor: pointer;

        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    #right-btn {
        left: 50%;
    }
}

.project {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    .project-img {
        margin: 8rem;
        flex-grow: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;

        &.full-img {
            margin: 0rem;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    .project-video {
        margin: 4rem;
        height: 0px;
        flex-grow: 1;
        z-index: -1;
    }

    .project-info {
        width: 100%;
        flex-grow: 0;
        position: relative;
        z-index: 1;

        p {
            margin: 0;
            line-height: 160%;
        }

        .project-name {
            font-size: 1.5rem
        }

        .project-description {
            margin-left: 7px;
        }
    }
}

.hidden {
    display: none;
}

.visible-flex {
    display: flex;
}

@media (max-width: 800px) {
    body {
        font-size: .8rem;
    }

    .project .project-info .project-name {
        font-size: 1.2rem
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        li {
            flex: 1;
            margin: 2px 0;
            display: inline;

            p {
                display: inline;
                margin-right: 5px;
            }
        }
    }

    .project .project-img {
        margin: 0rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
        color: var(--text-color);
    }
}